

body {
    background-color: #000;
    padding-top: 50px; 
}

.gallery-container {
    max-width: 800px;
    margin: auto;
}

.gallery-title {
    text-align: center;
}

.img-thumbnail {
    cursor: pointer;
}

.img-thumbnail:hover {
    opacity: 0.7;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
h2{
    color: #fff;
}
