

body {
    background-image: url(descarga.jpeg);
    background-size: cover;
}

.sensor-card {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.sensor-title {
    font-size: 20px;
    font-weight: bold;
}

.sensor-status {
    font-size: 18px;
    margin-top: 10px;
}

.sensor-on {
    color: #28a745; 
}

.sensor-off {
    color: #dc3545; 
}

h1{
    color: aliceblue;
}